.app-layout {
  width: 100%;
  height: 100%;
  background-color: white;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #75ED88;
    border-radius: 0 0 16px 16px;
    height: 80px;
  }
  
  .header > *, .header-title {
    color: #fff;
    margin-left: 16px;
    margin-bottom: 0;
  }
  
  .content {
    display: flex;
    flex: 1;
    padding: 8px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}