.bar-value-indicator {
  width: 100%;

  .bar-container {
    display: flex;
    width: 100%;
    flex-direction: row;

    .ant-slider {
      width: 100%;
      margin-left: 16px;

      .ant-slider-track {
        background: #ABF091!important;
      }
    
      .ant-slider-handle {
        border-color: #ABF091!important;
      }
    }

  }

}