.custom-card {
  border-radius: 16px;
  box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.38);
  overflow: hidden;

  .custom-card-header {
    background-color: #F8F8F8;
    padding: 16px;
  }

  .custom-card-body {
    padding: 16px;
  }
  
}