.named-dot-state-indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name-container {
    display: flex;
    align-items: center;

    p {
      margin-left: 8px;
      font-size: 12px;
    }

    img {
      width: 24px;
    }
  }
}