.plant-card {
    border-radius: 16px;
    border: solid 1px #BCBCBC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80px;
    height: 80px;

}