.planter-detail {

  width: 100%;
  display: flex;
  flex: 1 1;

  h1 {
    margin-bottom: 16px!important;
  }

  .spin-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-spin-dot-item {
      background-color: #75ED88;
    }
  }
}