
.planter-list {
  padding-bottom: 1px;

  .planter-list-item {
    background-color: white;
    margin: 16px 0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.38);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      margin-left: 16px;
    }
  }
}