@import '~antd/dist/antd.css';


* {
    box-sizing: border-box;
    /* font-family: 'Jilda', sans-serif; */
}


.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-buttons > * {
    margin: 16px;
}

