@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, .App {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, p {
  margin-bottom: 0!important;
  padding-bottom: 0!important;
  /* font-family: 'Jilda', sans-serif!important; */
}
